[Unit]
Description=Daemon for controlling a Planewave L mount via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/lmountd /etc/lmountd/%i.json

[Install]
WantedBy=multi-user.target
